header {
    text-align: center;
}

section {
    text-align: center;
}

body {
    background-color: grey;
}

footer {
    text-align: right;
}

.recup_ok {
    color:greenyellow
}

.in_progress {
    color: red;
}

.just_tests {
    color:green
}
/* 
sans point : balise
avec un point : class
*/