header {
    height: 20%;
    text-align: center;
}

section {
    text-align: center;
}

p1 {
    text-align: justify;
}
nav {
    text-align: center;
}
body {
    height: 80%;
    background-color: grey;
}

footer {
    text-align: right;
}

/* 
sans point : balise
avec un point : class
*/

.containerTopFilm {
    position: relative;
    overflow: hidden;
    width: 100%;;
    top: 60%;
  }

  .containerTopSeven {
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 15%;
  }