header {
    height: 20%;
    text-align: center;
}

section {
    text-align: center;
}

nav {
    text-align: center;
}
body {
    height: 80%;
    background-color: grey;
}

footer {
    text-align: right;
}

/* test */
.in_progress {
    color: red;
}

/* test */
.just_tests {
    color:green
}
/* 
sans point : balise
avec un point : class
*/

.containerTopFilm {
    outline-color: blue;
    position: relative;
    overflow: hidden;
    width: 100%;;
    /*padding-top: 60%;*/
  }

  .containerTopSeven {
    outline-color: violet;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*padding-top: 15%;*/
  }